/* Adobe Fonts import */
@import url("https://use.typekit.net/bur5lun.css");
/* CSS Variables */
:root {
    --primary-font: "puffin-arcade-chrome", sans-serif;
    --secondary-font: "cubano-sharp", cursive;
    --primary-color: #D16666; /* pink */
    --secondary-color: #b6c649; /* lime green*/
    --highlight-color: #2C4251; /* dark blue */
    --highlight-color-light: #FFFFFF; /* white */
}
/* General styles */
body {
    background-color: var(--highlight-color);
}
h1 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--secondary-color); 
    font-size: 100px;
    line-height: 70%;
}
h2 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 70px;
    color: var(--highlight-color-light);
    text-shadow: 2px 2px 5px #000000;
    margin-bottom: 2rem;
}
.modal-content {
    color: var(--highlight-color-light);
    background-color: var(--highlight-color);
}
/* Header */
#header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
    text-shadow: 2px 2px 5px #000000;
}
#brain {
    color: var(--highlight-color);
    font-size: 70px;
    margin: 2rem;
}
/* Game area */
.container {
    background: var(--primary-color);
    border-radius: 25px;
    border: 3px solid var(--secondary-color);
    text-align: center;
    padding: 6% 10% 6%;
}
#question {
    font-family: var(--secondary-font);
    color: var(--highlight-color-light);
    text-shadow: 2px 2px 5px #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
}
#score {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 25px;
}
#score-text {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    font-size: 25px;
}
#timer {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    font-size: 35px;
}
/* End Screen */
#final-score {
    font-family: var(--secondary-font);
    font-size: 50px;
    color: var(--highlight-color-light);
    text-shadow: 2px 2px 5px #000000;
    margin-top: 7px;
    margin-bottom: 10px;
    text-align: center;
}
/* Buttons */
#answer0,
#answer1,
#answer2,
#answer3 {
    min-width: 400px;
    margin-bottom: 10px;
}
button {
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-size: 25px;
    color: var(--highlight-color);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:focus {
    outline: none;
}
button:active {
    background-color: none !important;
    box-shadow: none !important;
}
#playAgain-btn, #backHome-btn {
    min-width: 250px;
    margin: 20px 15px 20px;
}
.modal-btn {
    margin-top: 3rem;
}
.btn-secondary {
    font-family: var(--secondary-font);
}
.correct {
    background-color: green;
    color: var(--highlight-color-light);
}
button.correct {
    box-shadow: 2px 2px 5px #000000;
}
.wrong {
    background-color: red;
    color: var(--highlight-color-light);
}
button.wrong {
    box-shadow: 2px 2px 5px #000000;
}
.disabled {
    pointer-events: none;
    opacity: 0.6;
}
/* Media Queries */
@media screen and (max-width: 480px) {
    .container {
        max-width: 380px;
        margin-bottom: 2rem;
    }
    #final-score {
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
    }
    #header {
        margin-bottom: 80px;
    }
    h2 {
        font-size: 30px;
    }
    #answer0,
    #answer1,
    #answer2,
    #answer3 {
    min-width: 300px;
    margin-bottom: 10px;
    }
    #playAgain-btn, #backHome-btn {
        min-width: 200px;
        margin: 10px 15px 10px;
    }
    .modal-btn {
        margin-top: 1rem;
    }
}
@media (hover: hover) and (pointer: fine) {
    button:hover {
      background-color: var(--secondary-color);
      box-shadow: 2px 2px 5px #000000;
    }
  }