/* Adobe Fonts import */
@import url("https://use.typekit.net/bur5lun.css");

/* CSS Variables */
:root {
    --primary-font: "puffin-arcade-chrome", sans-serif;
    --secondary-font: "cubano-sharp", cursive;
    --primary-color: #D16666; /* pink */
    --secondary-color: #b6c649; /* lime green*/
    --highlight-color: #2C4251; /* dark blue */
    --highlight-color-light: #FFFFFF; /* white */
}


/* General styles */
body {
    background-color: var(--highlight-color);
}

h1 {
    text-transform: uppercase;
    font-family: var(--primary-font);
    color: var(--secondary-color); 
    font-size: 100px;

}

h2 {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 35px;
    color: var(--highlight-color);
    margin-bottom: 2rem;
}

/* Header */

#header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
    text-shadow: 2px 2px 5px #000000;
}

#brain {
    color: var(--highlight-color);
    font-size: 50px;
    margin-bottom: 2rem;
}

/* Game area */

.container {
    background: var(--primary-color);
    border-radius: 25px;
    border: 3px solid var(--secondary-color);
    text-align: center;
    padding: 10% 5%;
}

#question {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    font-size: 30px;
    text-align: center;
    margin-bottom: 4rem;
}

#score {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 25px;
}

#score-text {
    font-family: var(--secondary-font);
    color: var(--highlight-color);
    font-size: 25px;
}

/* End Screen */

#final-score {
    font-family: var(--secondary-font);
    font-size: 50px;
    color: var(--highlight-color-light);
    text-shadow: 2px 2px 5px #000000;
    margin-top: 10px;
    text-align: center;
}

/* Buttons */

#answer0,
#answer1,
#answer2,
#answer3 {
    min-width: 200px;
    margin-bottom: 10px;
}

button {
    background-color: var(--highlight-color-light);
    font-family: var(--secondary-font);
    font-size: 25px;
    color: var(--highlight-color);
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 4px;
}

button:hover {
    background-color: var(--secondary-color);
}

.correct {
    background-color: green;
    color: var(--highlight-color-light);
}

.wrong {
    background-color: red;
    color: var(--highlight-color-light);
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}